@model ICAS.Areas.Admin.Models.PortalModel.ResetPasswordContract

@{
    if (Model == null)
    {
        return;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="display-block float-right" aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">@Model.ProcessType</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "changePortalUserStatusApproval", data_parsley_validate = "" }))
            {
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.CallerType)
                @Html.HiddenFor(m => m.UserName)
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label>Full Name</label>
                    <input placeholder="fullName" name="fullName" id="fullName" class="form-control" required="" readonly="readonly" value="@Model.FullName">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px; text-align: right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            }

        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        $('#changePortalUserStatusApproval').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-danger').toggleClass('hidden', ok);

        });

    });
</script>