@using WebCribs.MVCHelperLibrary
@model ICAS.Areas.Admin.Models.PortalModel.AuthPortalUser


@{
    Layout = null;
    var singleError = ViewBag.Error as string;
    var errors = ViewBag.Errors as List<string>;
}


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mySmallModalLabel">Add New Portal User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            
            <div class="account-bg">
                
                <div class="card-box mb-0">
                    
                    <div class="m-t-10 p-20">
                        
                        <form action="@Url.Action("Create", "AppUserAdmin")" id="createUserAdminForm" method="POST">

                            @if (errors != null && errors.Count() > 1)
                            {
                                <div class="bs-callout bs-callout-danger ">
                                    <h4>Error!</h4>
                                    @{
                                foreach (var error in errors)
                                {
                                    <p>@Html.Raw(error)</p>
                                }
                                    }
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(singleError) && singleError.Length > 1)
                            {
                                <div class="bs-callout bs-callout-danger ">
                                    <h4>Error!</h4>
                                    <p>@Html.Raw(singleError)</p>
                                </div>
                            }

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Surname</label>
                                    <input type="text" class="form-control has-feedback-left" value="@Model.LastName" name="LastName" id="LastName" placeholder="LastName" required="" data-parsley-required-message="Last Name is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>First Name</label>
                                    <input type="text" class="form-control has-feedback-left" value="@Model.FirstName" name="FirstName" id="FirstName" placeholder="FirstName" required="" data-parsley-required-message="First Name is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control has-feedback-left" value="@Model.MobileNo" name="MobileNo" id="MobileNo" placeholder="MobileNo" required="" data-parsley-required-message="Mobile Number is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Email</label>
                                    <input type="text" class="form-control has-feedback-left" value="@Model.Email" name="Email" id="Email" placeholder="Email" required="" data-parsley-required-message="Email  is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Roles</label>
                                    @Html.CheckBoxListFor("MyRoleIds", @Html.GetTabRoleListByIds(model => model.MyRoleIds, Model.AllRoles), 6, WebCribs.MVCHelperLibrary.Utilities.RepeatedDirection.Vertical)

                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                    <label>Approved?</label> <br />
                                    @Html.CheckBox("IsApproved", Model.IsApproved, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Username</label>
                                    <input type="text" class="form-control has-feedback-left" value="@Model.UserName" name="UserName" id="UserName" placeholder="Username" required="" data-parsley-required-message="Username is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Password</label>
                                    <input type="password" class="form-control has-feedback-left" value="@Model.Password" name="Password" id="Password" placeholder="Password" required="" data-parsley-required-message="Password  is required">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">

                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control has-feedback-left" value="@Model.ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" placeholder="ConfirmPassword" required="" data-parsley-required-message="Please confirm your password">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">

                                    <br />
                                    <bufqtton type="submit" class="btn btn-success-custom pull-right">Submit</bufqtton>
                                </div>
                            </div>


                        </form>

                        

                        @*@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "createForm", data_parsley_validate = ""}))
                         {
                            @Html.AntiForgeryToken()
                        }*@

                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>



<script>
    $(document).ready(function (e) {
        $('#createUserAdminForm').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-danger').toggleClass('hidden', ok);
        });

    });

</script>

